@media (min-width: 768px){
    .container{
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }

    .logo {
        width: 107px;
        height: 11px;
    }

    .header {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-style: solid;
        border-width: 1px;
        height: 72px;

        box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
    }
    
    .headeritem {
        display:flex;
        align-items: center;
    }

    .delivery {
        order:1;
    }
    
    .to {
        align-items: center;
    }
    
    .btn {
        height: 40px;
        width: 80px;
        border-color: black;
        border-style: solid;
        border-width: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 11px;
        margin-left: 6px;
        margin-right: 6px;
    }

    .signinBtn {
       background: white;
    }

    .registerBtn {
        background: black;
        color: white;
    }

    .basketBtn {
        display: none;
    }

    .search {
        margin-left: auto;
        margin-right: auto;

        margin-top: 32px;
        width: 308px;
        height: 48px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        font-size: 13px;
        color: #626262;
        mix-blend-mode: normal;
        opacity: 0.5;

        display: flex;
        align-items: center;
        justify-items: center;

        border-bottom: 1px solid black;
    }

    .search img {
        height: 16px;
        width: 16px;
    }
    .search span {
        margin-left: 8px;
    }


    .delivery {
        display: grid;
        grid-template-columns: 1fr 3.5fr;
        grid-gap: 16px;
        margin-top: 24px;
    }

    .delivery span {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 11px;

        color: #626262;
    }

    .delivery div {
        height: 40px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        font-size: 13px;
        color: #1D1D1D;

        padding: 8px 16px 8px 16px;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 2px;

        display: flex;
        align-items: center;
    }

    .delivery div img {
        width: 12px;
        height: 15px;
        margin: 0px 12px 0px -4px; 
    }
}
